[DEFAULT]

lock_path = $state_path/lock

rpc_backend = rabbit
rabbit_host = controller
rabbit_password = RABBIT_PASS

auth_strategy = keystone
 
core_plugin = ml2
service_plugins = router
allow_overlapping_ips = True

verbose = True

[keystone_authtoken]
auth_uri = http://controller:5000/v2.0
identity_uri = http://controller:35357
admin_tenant_name = service
admin_user = neutron
admin_password = NEUTRON_PASS

[matchmaker_redis]

[matchmaker_ring]

[quotas]

[agent]
root_helper = sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf

[database]
connection = sqlite:////var/lib/neutron/neutron.sqlite

[service_providers]
service_provider=LOADBALANCER:Haproxy:neutron.services.loadbalancer.drivers.haproxy.plugin_driver.HaproxyOnHostPluginDriver:default
service_provider=VPN:openswan:neutron.services.vpn.service_drivers.ipsec.IPsecVPNDriver:default
